<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

        <div class="container">
            <% recomendations.forEach((service) => { %>
            <div class="content">
                <div class="service">
                    <img class="rounded img-thumbnail float-left"
                    src="<%=service.photo %>" style="height: auto;width: 300px;">
                    <div class="body">
                        <div class="jumbotron jumbotron-fluid">
                            <h3 style="font-weight:bold;">Proveedor: <%=service.name%>
                                <span class="badge badge-secondary"><%=
                                    service.brand%></span></h3>
                            <hr class="my-4">
                            <ul>
                            <li><p class="font-weight-bold"><strong>Ahorro anual: $ </strong><span
                                class="border"><%=
                                service.minYearly.toLocaleString('de-DE').replace(/,/g,'.') %>-<%=
                                service.maxYearly.toLocaleString('de-DE').replace(/,/g,'.') %></span></p>
                            <li><p class="font-weight-bold"><strong>Tiempo de recuperación de la
                            inversión: </strong><span
                                class="border"><%= service.minReturn%>-<%=
                                service.maxReturn%> años</span></p>
                            <li><p class="font-weight-bold"><strong>Reducción de gases
                            invernaderos: </strong><%=
                            service.gasReduction%> toneladas de CO2 por año
                            </p>
                            <li><p class="font-weight-bold"><strong>Espacio a
                                utilizar:</strong> <%=service.spaceAvailable%>
                            metros cuadrados</p>
                            <li><p class="font-weight-bold"><strong>Tiempo de vida de los
                            paneles: </strong><%=service.productLifetime%> años</p>
                            <br>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <% }); %>

            <div>
    </body>
</html>
