<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

        <div class="container">
            <% recomendations.forEach((service) => { %>
            <div class="content">
                <div class="service">
                    <img class="rounded img-thumbnail float-left"
                    src="<%=service.photo %>" style="height: auto;width: 300px;">
                    <div class="body">
                        <div class="jumbotron jumbotron-fluid">
                            <h3 style="font-weight:bold;">Proveedor:<%=service.name%>
                                <span class="badge badge-secondary"><%=
                                    service.brand%></span></h3>
                            <hr class="my-4">
                            <p class="font-italic">Ahorro anual: $ <span
                                class="border"><%= service.minYearly %>  <%= service.maxYearly %></span></p>
                            <p class="font-italic">Tiempo de recuperación de la
                            inversión: <span
                                class="border"><%= service.minReturn%>-<%=
                                service.maxReturn%></span></p>
                            <p class="font-weight-bold"><%=
                            service.gasReduction%> tonCO2/año
                            </p>
                            <p class="font-italic">Espacio a utilizar: <%=service.spaceAvailable%></p>
                            <p class="font-italic">Tiempo de vida de los
                            paneles: <%=service.productLifetime%></p>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <% }); %>

            <div>
    </body>
</html>
