<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <h1>Te Recomendamos los siguientes productos:</h1>
            <% recomendations.forEach((recomendation) => { %>
                <button type="button" class="collapsible"><%= recomendation %></button>
                    <div class="content">
                        <% productsList.forEach((product) => { %>
                            <% if (recomendation == product.category) { %>
                            <div class="row-item">
                                <div class="card" >
                                  <img class="card-img-top" src="" alt="">
                                  <div class="card-body">
                                      <h5 class="card-title"><%= product.brandName%> - <%=product.modelName%></h5>
                                      <p class="card-text"><%= product.description%></p>
                                  </div>
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Precio: $<%= product.price%></li>
                                  </ul>
                                  <div class="card-body">
                                      <a href="#" class="btn btn-warning">Encuentrálo aquí</a>
                                  </div>
                                </div>
                            </div>
                            <% } %>
                        <% }) %>
                    </div>
            <% }); %>
        </div>
    </body>
    <script >
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        } 
    </script>
</html>
